# dependencies
node_modules/

# build output
dist/
build/

# cache
.cache/
.next/
out/

# logs
*.log
npm-debug.log*

# dotenv files
.env
.env.*.local

# IDEs
.vscode/
*.swp
.DS_Store

# OS files
Thumbs.db

